* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.error {
  color: red;
}
:root{
  --color-redwine: #722F37;
  --color-white: #ffffff;
  --color-lightwine: #9d4c55;
  --color-gray: #bca8a8;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.button{
  display: inline-block;
  background-color: var(--color-redwine);
  color: white;
  font-size: 1vw;
  padding: 13px 33px;
  border-radius: 25px;
}
.button:hover{
  background-color: var(--color-lightwine);
  color: black;
}

/* Header Part */

.header-top-strip{
  border-bottom: 1px solid var(--color-white);
  background-color: var(--color-redwine);
}
.header-upper{
  background-color: var(--color-redwine);
}
.header-bottom{
  background-color: var(--color-lightwine);
}
.header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus{
  box-shadow: none;
}
.menu-bottom img {
  width: 35px;
  height: 35px;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-redwine);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-lightwine);
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-gray) !important;
}
/* Header Part End Here */


/* Footer Part */

footer{
  background-color: var(--color-redwine);
}
footer:not(:first-child){
  border-top: 1px solid var(--color-lightwine);
}
footer .input-group-text{
  background-color: var(--color-redwine);
  color: white;
  padding: 8px 17px;
}
/* Footer Part Ends Here */


/* Home Page */
.main-banner-content{
  top: 10%;
  left: 7%;
}
.main-banner img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
.main-banner-content h1{
  font-size: 4vw;
  font-weight: 400;
  color: var(--color-white);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.main-banner-content h5{
  font-size: 1.1vw;
  line-height: 1.5;
  letter-spacing: 0px;
  font-weight: 500;
  text-transform: none;
}
.small-banner{
  width: 49%;
}
.small-banner img {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

/*home wrapper 2 */
.home-wrapper-2{
  background-color: var(--color-lightwine);

}
/*home wrapper 2 ends */

/*categories section*/
.categories{
  background-color: var(--color-white);
  box-shadow: 0 0 10px;
  padding: 15px;
}
.categories img{
  width: 5rem;
}
.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 60%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/*categories section ends*/

/* Product Card */

.product-image img{
  width: 40%;
  margin-left: 30%;
}
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
.product-card .product-image {
  height: 270px;
}
.product-card .product-image img {
  object-fit: contain;
}
.product-card:hover .action-bar {
  right: 15px;
}
.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}
.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.product-card p.description {
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
}
.product-datails {
  color: black;
}
.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}
.wishlist-icon {
  top: 2%;
  right: 15px;
}
/* Product Card ends here */

/* Our Collection */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-redwine);
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
  background-color: var(--color-lightwine);
  border-color: var(--color-febd69);
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 20px;
}

.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  width: 35px;
  height: 35px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}
.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
.gr-6 .product-image {
  width: 100%;
}
.gr-6 .product-image img {
  margin: auto;
  display: block;
}
.gr-12 .product-card .product-image {
  width: 270px;
}
.gr-12 .product-card .product-image {
  height: auto;
}
.gr-12 .action-bar {
  top: 17%;
}
/* Our Collection ends here */
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
/*  auth card */

.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card p {
  font-size: 13px;
  color: var(--color-777777);
}
.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-777777);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-redwine);
}
.signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: none;
}
.signup:hover {
  background-color: var(--color-lightwine);
  color: white;
}
/*  auth card  ends*/

/* Home Page Ends Here */

/* Main Product Page */
.description-wrapper h4,
.reviews-wrapper h3 {
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}
.description-wrapper p {
  font-size: 14px;
  color: var(--color-777777);
}
.review-inner-wrapper {
  background-color: white;
  padding: 30px;
}
.review-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}
.review-head p,
.review-head a {
  font-size: 14px;
  color: var(--color-777777);
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}
.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-777777);
}


.main-product-image {
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.main-product-image img {
  width: 40% !important;
  height: 30% !important;
  object-fit: cover;
  align-self: center;
}
.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}
.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.main-product-details a.review-btn,
.t-review {
  color: var(--color-777777);
  font-size: 13px;
}
.product-heading {
  font-size: 14px;
  color: var(--color-1c1c1b);
  margin-bottom: 0px;
}
.product-data {
  font-size: 13px;
  columns: var(--color-777777);
  margin-bottom: 0px;
}
.main-product-details a {
  font-size: 14px;
  color: var(--color-777777);
}
.d-flex .fs-5 {
  width: 17px;
}
/* Main Product Page end */

/*Create collection start*/
.circle-image-wrapper {
  width: 200px; /* ปรับขนาดของวงกลมตามที่คุณต้องการ */
  height: 200px;
  border-radius: 50%; /* กำหนดรูปร่างให้เป็นวงกลม */
  overflow: hidden; /* ซ่อนส่วนที่เกินขอบวงกลม */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* เพิ่มเงาให้กับวงกลม */
}

.circle-image-wrapper img {
  width: 100%; /* ทำให้รูปภาพเต็มขนาดของวงกลม */
  height: 100%;
  object-fit: cover; /* ปรับขนาดรูปภาพเพื่อให้เต็มขนาดของวงกลมและไม่เกินขอบ */
}

/*Create collection end*/